<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Bathroom</title>
  </head>
  <body>
    <h1>Edit Bathroom</h1>
    <form method="POST" action="/bathrooms/<%= bathroom.id %>?_method=PUT">
      <div>
        <label for="title">Title:</label>
        <input
          type="text"
          name="title"
          placeholder="Bathroom title"
          value="<%= bathroom.title %>"
        />
      </div>
      <div>
        <label for="location">Location</label>
        <input
          type="text"
          name="location"
          placeholder="City, State"
          value="<%= bathroom.location %> "
        />
      </div>
      <div>
        <label for="occupancy">Occupancy Type</label>
        <select name="occupancy">
          <% for (occupancy of occupancies) { %>
          <option value="<%= occupancy %>" <%= bathroom.occupancy === occupancy ? "selected" : "" %>><%= occupancy %></option>
          <% } %>
        </select>
      </div>
      <div>
        <label for="description">Description</label>
        <textarea
          name="description"
          id=""
          cols="30"
          rows="3"
          placeholder="Describe the condition of this bathroom"
          
        ><%= bathroom.description %></textarea>
      </div>
      <button>Save Changes</button>
    </form>
    <a href="/bathrooms/<%= bathroom._id %> ">Cancel</a>
  </body>
</html>
