<% layout('layouts/boilerplate') %>
<h1 class="text-center">All Bathrooms</h1>
<div class="row">
  <% for(let bathroom of bathrooms) { %>
  <div class="col-sm-6 col-md-4 mb-3">
    <div class="card h-100">
      <img
        src="<%= (bathroom.image ? bathroom.image :
      '/images/no_toilet_img.jpg') %>"
        class="card-img-top"
        alt="Bathroom Image"
        ;
      />
      <div class="card-body">
        <h5 class="card-title">
          <%= bathroom.title %>
          <span class="badge bg-secondary"><%= bathroom.occupancy %></span>
        </h5>
        <p class="card-text"><%= bathroom.description %></p>
        <a class="btn btn-primary" href="/bathrooms/<%= bathroom._id %> "
          >View</a
        >
      </div>
    </div>
  </div>
  <% } %>
</div>
