<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= bathroom.title %></title>
  </head>
  <body>
    <h1><%= bathroom.title %></h1>
    <ul>
      <li>Location: <%= bathroom.location %></li>
      <li>Occupancy: <%= bathroom.occupancy %></li>
    </ul>
    <% if (bathroom.description) { %> <%= bathroom.description %> <% } %>
  </body>
  <a href="/bathrooms/<%= bathroom._id %>/edit">Edit</a>
  <form method="POST" action="/bathrooms/<%= bathroom._id %>?_method=DELETE">
    <button>Delete</button>
  </form>
  <footer><a href="/bathrooms">All Bathrooms</a></footer>
</html>
